*.aux
*.log
*.synctex.gz
*.toc
*.dvi
*.out
*.bbl
*.blg
*.brf
*.glg
*.glo
*.glsdefs
*.ist
*.acn
*.acr
*.alg
*.lof
*.lnk
*.gls
*.lot
*.tmp
*.tps
/Parsing/Parsing.pdf
/Planning/Planning.pdf
/ResearchContext/ResearchContext.pdf
/Thesis/Thesis.pdf
/Documentation/Documentation.pdf
/AmpersandApproach/AmpersandApproach.pdf
/Thesis/Abstract.pdf
/TeamReflection/TeamReflection.pdf
/Generated/Errors/Errors.pdf
/Generated/Documentation.zip
/Generated/Errors/Scripts/*.adl
